<%= form_for(@feed) do |f| %>
     
<%= feed_error_messages! %>
      
<div id="mainTextBoxContainer">

  <table>
    <tr>
      <th>      
        <%= f.text_area :feed_text, :class => "textBox", :onkeyup => 'textCounter(this, "charCounterIta");', :placeholder => "Scrivi qui il testo del tuo feed ..." %>
      </th>
    </tr>
    <tr>
      <th id="charCounterIta" style="text-align: right;"></th>
    </tr>
  
    <tr>  
      <th colspan="2">Data e ora di pubblicazione:</th>
    </tr>
    
    <tr>
      <th colspan="2"><%= f.datetime_select :date, :discard_minute => true %></th>
    </tr>
    
    <tr>
      <th colspan="2">Inserisci un'immagine:</th>
    </tr>
    
    <tr>
      <th colspan="2"><%= f.file_field :feed_image %></th>
    </tr>
    
    <tr>
      <th colspan="2"><input type="submit" value="Conferma" class="button"/></th>
    </tr>
  </table> 

</div>

<% end %>
