<%= form_for(@feed) do |f| %>
     
<%= feed_error_messages! %>
      
<ul id="mainTextBoxContainer">

  <li>      
    <%= f.text_area :feed_text, :class => "textBox", :onkeyup => 'textCounter(this, "charCounterIta");', :onclick => 'show_hide();', :placeholder => "Scrivi qui il testo del tuo feed ..." %>
  </li>
  <li id="charCounterIta" style="text-align: right;">
    124
  </li>
  
  <div id="dateTimeBox">
    <li>
      <p>Inserisci la data e l'ora di pubblicazione:</p>
      <%= f.datetime_select :date, :discard_minute => true %>
    </li>
    <li>
      <p>Inserisci un'immagine:</p>
      <%= f.file_field :feed_image %>
    </li>
    <li>
      <input type="submit" value="Conferma" class="button"/>
    </li>
  </div>
  
</ul>

<% end %>
