
    <title>Dimenticato la password?</title>
    
    <style>body{background-image: url(/assets/background.jpg);}</style>
    
    <% if mobile_device? %>
	<meta name="viewport" content="user-scalable=no" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	
	<link data-turbolinks-track="true" href="/assets/mobile/m.scaffolds.css.scss" media="all" rel="stylesheet" />        
	<link data-turbolinks-track="true" href="/assets/mobile/m.home.css.scss" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/mobile/m.feeds.css.scss" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/mobile/m.login.css.scss" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/mobile/m.style.css" media="all" rel="stylesheet" />
   <% else %>
	<link data-turbolinks-track="true" href="/assets/desktop/scaffolds.css.scss" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/desktop/home.css.scss" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/desktop/feeds.css.scss" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/desktop/login.css.scss" media="all" rel="stylesheet" />
	<link data-turbolinks-track="true" href="/assets/desktop/style.css" media="all" rel="stylesheet" />
   <% end %>
   
   	<script data-turbolinks-track="true" src="/assets/jquery.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/jquery_ujs.js?body=1"></script>
	<script data-turbolinks-track="true" src="/assets/turbolinks.js?body=1"></script>
  </head>

  <body>
  
    <table id="menu">
      </tr>
        <th id="logo">
          <a href="<%= @current_host %>"></a>
        </th>
        <th align="right">
          <a href="<%= @current_host %>" name="Hlink">Home</a>
          <a href="<%= new_user_session_path %>" id="activeButton">Accedi</a>
          <a href="<%= new_user_registration_path %>">Iscriviti</a>
        </th>
      </tr>
    </table>
        
    <div class="container">
      
      <div class="groundSheet">
		    <div class="homeTitle">
          Dimenticato la password?
        </div>

	      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <%= devise_error_messages! %>
          
          <div align="center" class="blueNotesSheet" style="font-weight: bold;">
            <p>
              Invieremo un e-mail all'indirizzo che ci fornirai
              che ti permettera' di recuperare la password.
            </p>
            <p>
              <%= f.email_field :email, autofocus: true, :class => "field", :style => "width: 45%;", :placeholder => "E-mail" %>
            </p>
            <p>
              <%= f.submit "Invia e-mail", :class => "button" %>
            </p>
          </div>
          
          <%= link_to 'Indietro', :back, :class => "bubble" %>
        <% end %>
    
    </div>
  </body>

</html>
