
    <title>Dimenticato la password?</title>
  </head>

  <body>
  
    <div id="menu">
      <div id="logo">
        <a href="<%= @current_host %>"><%= image_tag("logo.png") %></a>
      </div>
      <div id="buttons">
        <ul>
          <li><a href="<%= @current_host %>" name="Hlink">Home</a></li>
          <li><a href="<%= new_user_session_path %>" id="activeButton">Accedi</a></li>
          <li><a href="<%= new_user_registration_path %>">Iscriviti</a></li>
        </ul>
      </div>
    </div>
    
    <div class="container">
      
      <div class="groundSheet">
		    <div class="homeTitle">
          Dimenticato la password?
        </div>

	      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>

          <%= devise_error_messages! %>
          
          <div align="center" class="blueNotesSheet" style="font-weight: bold;">
            <p>
              Invieremo un e-mail all'indirizzo che ci fornirai
              che ti permettera' di recuperare la password.
            </p>
            <p>
              <%= f.email_field :email, autofocus: true, :class => "field", :style => "width: 45%;", :placeholder => "E-mail" %>
            </p>
            <p>
              <%= f.submit "Invia e-mail", :class => "button" %>
            </p>
          </div>
          
          <%= link_to 'Indietro', :back, :class => "bubble" %>
        <% end %>
    
    </div>
  </body>

</html>
